@media ( min-width : 1001px ) {
  .users-result, .posts-result {
    h2 {
      font-weight: bold;
    }
  }
}

@media (max-width: 1000px) {
  .users-result, .posts-result {
    h2 {
      font-weight: bold;
    }
  }
  input[type=text] {
    width: 60%;
  }
}
