<div class="mt-10">
  <form action="" method="GET">
    <input name="search" class="w-1/3" placeholder="Rechercher un post ou un utilisateur" type="text">
    <input type="submit" value="Rechercher" class="btn btn-success">
  </form>
</div>

<div class="flex justify-between">
  <div class="posts-result mt-5">
    <h2>Post trouvé</h2>
    <% if @posts.nil? == false %>
      <% if @posts.empty? == false %>
        <% @posts.each do |post|%>
          <%= post.title %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="users-result mt-5">
    <h2>Utilisateur trouvé</h2>
    <% if @users.nil? == false %>
      <% if @users.empty? == false %>
        <% @users.each do |user| %>
          <p> <%= user.username %> </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
