<form action="" method="GET">
  <input name="search" class="w-1/3" placeholder="Rechercher un post ou un utilisateur" type="text">
  <input type="submit" value="Rechercher" class="btn btn-success">
</form>

<% if @posts.nil? == false %>
  <% if @posts.empty? == false %>
    <% @posts.each do |post|%>
      <%= post.title %>
    <% end %>
  <% end %>
<% end %>

<% if @users.nil? == false %>
  <% if @users.empty? == false %>
    <% @users.each do |user| %>
      <%= user.username %>
    <% end %>
  <% end %>
<% end %>
