<div class="container navbar flex mt-5">
  <a href="/">Accueil</a>
  <a href="/search">Recherche</a>
  <a href="/rooms/new">Commencer une discussion</a>
  <a href="/posts/new">Créer un post</a>
  <% if user_signed_in? %>
    <div class="justify-end">
      <a href="/users/posts" class="sign-btn bg-emerald-600 p-2.5 rounded-md">Mes Posts</a>
    </div>
  <% else %>
    <div class="justify-end">
      <a href="/users/sign_in">Connectez-Vous</a>
      <a href="/users/sign_up" class="sign-btn bg-emerald-600 p-2.5 rounded-md">Inscrivez-Vous</a>
    </div>
  <% end %>
</div>
