<form method="POST">
  <div>
    <label for="title">Titre de la discussion</label>
  </div>
  <div>
    <input type="text" name="title" id="title">
  </div>
  <div>
    <label for="contact">Chercher des personnes </label>
  </div>
  <div>
    <input type="text" name="person">
  </div>
  <div class="person">
  </div>
  <div>
    <input type="submit">
  </div>
</form>
