<div class="new-discussion">
  <form method="POST" data-controller="search">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div>
      <input type="text" name="room[name]" id="title" placeholder="Titre">
    </div>
    <div class="discution-contact" data-search-target="adddiv">
      <h2>Destinataires: </h2>
    </div>
    <input type="text" name="person" data-search-target="contactinput" hidden>
    <div>
      <input type="text" name="search" id="contact" data-search-target="contact" data-action="input->search#search" placeholder="Chercher un utilisateur">
    </div>
    <div class="person" data-search-target="person" style="max-width: 50%">
    </div>
    <div class="flex justify-center">
      <input class="btn btn-success mt-5 text-white" type="submit">
    </div>
  </form>
</div>
