<div class="controller" data-controller="room">
  <input type="text" name="room[id]" id="room_id" value="<%=params[:id]%>" data-room-target="room" hidden>

  <div class="container text-center mt-3">
    <%= @room_name %>
    <% @room_users.each do |room_user| %>
      <%= room_user.user.username %>
    <% end %>
  </div>


  <div class="room-messages">
    <h2>Messages</h2>
    <div class="messages">
    </div>
  </div>

  <form method="POST">
    <input type="text" name="RoomMessage[content]" data-room-target="content">
    <input type="submit" data-action="click->room#submit">
  </form>
</div>
